body, html {
	background-color: black;
	color: white;
}
#container {
	display: inline;
}

#canvas {
	text: red;
	font-size: 30px;
}

.left {
	display: inline-block;
}

.red {
	color: red;
}